.sectionNav {
  width: 80%;
  height: auto;
  background-color: #fa8072;
  position: absolute;
  left: 10%;
}

nav {
  background-color: aqua;
  margin-left: 80%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
